h1{
    text-align:center;
     display:flex;
    Padding:15px;
    border:20px solid;
    margin:25px;
    justify-content:center;
    background-color:beige;
}    
h2{
    text-align:center;
    display:flex;
    Padding:10px;
    border:20px;
    justify-content:center;
    background-color:beige;
}    
img{
    width:200px;   
    height:200px;
}    
image{
    display:flex;
    justify-content:center;
}    